body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #364f6b;
    /* overflow-y: hidden; */

}

h1 {
    font-size: 30px;
    line-height: 36px;
    color: #364f6b;
}

h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #364f6b;
}

img { object-fit: cover; }

ul {
    list-style:none;
}
ul, li { /* reset the margin and padding */
    margin: 0;
    padding: 5px;
    padding-left: 0;
}

.welcomeicon {
    padding-right: 5px;
    font-size: 20px;
}

.no-underline { text-decoration: none; }



.main-container {
    width: 100%;
    max-width: 1050px;
    margin-top: 10px;
    background-color: white;
    margin: 10px auto;
    border-radius: 4px;
    padding: 20px;

}

.main-container-flex {
    width: 100%;
    /* height: 100vh; */
    max-width: 1050px;
    margin-top: 10px;
    background-color: white;
    margin: 10px auto;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.main-container-flex-around {
    width: 100%;
    /* height: 100vh; */
    max-width: 1050px;
    margin-top: 10px;
    background-color: white;
    margin: 10px auto;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}


/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////            HEADER              ////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.logo {
    font-family: 'Righteous', cursive;
    padding: 10px 0px 10px 20px;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #364f6b;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    text-shadow: rgba(255,255,255,0.2) 0px 3px 3px;
}

.logo > i {
    padding: 2px;
}

.logohover:hover {
    color: #fc5185;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    background-color: white;
}

.user-header {
    position: relative;
    width: 150px;
    top: 6px;
}

.profile-pic {
    position:absolute;
    width: 45px;
    height: 45px;
    top: 5px;
    right: 15px;
    border-radius: 50%;
    border: 3px #fc5185 solid;
}

.header-menu {
    overflow: hidden;
    position: absolute;
    background-color: white;
    top: 70px;
    right: 0;
    padding: 20px;
    z-index: 100;
}

.menu-item:first-child {
    padding-top: 0;
}

.menu-item {
    color: #364f6b;
    width: 100%;
    padding: 16px 30px 16px 0px;
    margin-right: 20px;
    border-bottom: 1px solid #f5f5f5;
    border-color: rgb(242, 242, 242);
    cursor: pointer;
}

.menu-item > p {
    margin:0;
}

.menu-item > a > p {
    margin:0;
}

.menu-item:hover {
    border-bottom: 1px solid #3fc1c9;
}

.file {
    display: none;
}

.custom-file-upload {
    width: 100px;
    padding: 0;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////         MAIN EVENTS PAGE       ////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.main-events-container {
    height: 320px;
    width: 95%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////         AUTHOR PROFILE         ////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.eventsarea {
    width: 70%;
}

.stretchedevent {
    display: flex;
    justify-content: space-between;
}

.line {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
}

.extrapadding {
    padding-bottom: 5px;
}

.book {
    width: 80px;
    margin: 0;
    top: 0;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

}

.bookimage {
    width: 80px;
}

.books {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
}

h5 {
    margin-top: 5px;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////            EVENTS              ////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
.events-container {
    width: 100%;
}

.event {
    position: relative;
    width: 160px;
    height: 280px;
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.09);
    overflow: hidden;
}

.eventphoto {
    width: 160px;
    height: 160px;
}

.authorname {
    margin: 5px 0 5px 10px;
    white-space: normal;
    text-decoration: none;
}

.eventlocation {
    margin-left: 10px;
    font-weight: bold;
    white-space: normal;
    text-decoration: none;
}

.datebox {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100px;
    left: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.delete {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}

.deleteicon {
    top: 5px;
    right: 5px;
    color: white;
}

.day {
    color: #3fc1c9;
    font-size: 25px;
    text-align: center;
}

.month {
    color: #3fc1c9;
    font-size: 18px;
    text-align: center;
}

input[type="datetime-local"]:hover {
    color: #364f6b;
}

.add-event-form {
    border-left: 1px solid #f5f5f5;
    padding: 5px;
}

.add-a-event-title {
    padding-left: 5px;
}

.alleventsphoto {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.alleventsdate {
    position: relative;
    top: -10px;
}

.alleventsarea {
    width: 90%;
}

.alleventslocation {
    width: 600px;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////            SEARCH              ////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.search-container {
    position: relative;
    width: 35vw;
}

.search-bar {
    display: inline-block;
    position: relative;
    width: 100%;
}

#main-search {
    position: relative;
    font-size: 16px;
    color: #8f8f8f;
    height: 47px;
    width: 100%;
    top: 6px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
    padding: 0 10px 0 37px;
    outline: none;
    box-sizing: border-box;
    z-index: 50;
    background-color: transparent;
}

.search-icon {
    position: absolute;
    left: 13px;
    top: 26px;
    color: #8f8f8f;
}

.search-results {
    position: absolute;
    width: 34.9vw;
    background-color: white;
    z-index: 2000;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

.search-results-image {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-left: 10px;
}

.search-name {
    position: absolute;
    margin-top: 15px;
}

.single-search-result {
    padding-top: 15px;
}


/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////            WELCOME             ////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */


.login-container {
    position: absolute;
    background-color: #f5f5f5;
    top: 120px;
    right: 10vw;
    padding: 32px 32px 24px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 16px 40px
}

.welcome-box {
    width: 400px;
    position: absolute;
    background-color: #f5f5f5;
    top: 120px;
    left: 10vw;
    padding: 32px 32px 24px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 16px 40px
}

.welcome-message {
    padding-top: 20px;
}

.container::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.container {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox

}

.hidescroll {
    overflow-y: hidden;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////            FORM             ///////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.registerform { padding-top: 10px; }

label, input {
    display: block;
    width: 300px;
    padding: 5px 5px 0px 5px;
}

input {
    font-size: 18px;
    margin-top: 5px;
    background-color: #f2f4fb;
    border-radius: 2px;
    outline: none;
}

input:invalid { border: 2px solid hsla(0, 90%, 70%, 1); }

input:valid { border: 2px solid #3fc1c9; }

input:focus { border: 2px solid #3fc1c9; }

input.failed-validation { border: 2px solid hsla(0, 90%, 70%, 1); }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #3fc1c9;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #f2f4fb inset;
  transition: background-color 5000s ease-in-out 0s;
}

.invalid-feedback { color: hsla(0, 90%, 70%, 1); }

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////            BUTTON             /////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.btn {
    background-color: #fc5185;
    padding: 10px 20px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
    position: relative;
    color: #f2f4fb;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    /* box-shadow: 3px 3px #3fc1c9; */
    z-index: 2;
}

.btn:hover {
  /* box-shadow: 1px 1px #3fc1c9; */
  top: 1px;
}

.btn:active {
  box-shadow: none;
  top: 1px
}

.btn:disabled,
.btn[disabled]{
  background-color: #f2f4fb;
  color: #3fc1c9;
}

.btn:disabled:hover,
.btn[disabled]:hover {
   top: 0px;
   /* box-shadow: 3px 3px #3fc1c9; */
}

.menubtn {
    margin-top: 15px;
    margin-right: 5px;
}


/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////           SPINNER              ////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
.fa-spinner {
    color: white;
}

.spinner {
    position: relative;
    font-size: 30px;
    color: #3fc1c9;
    display: inline-block;
    margin-left: 5px;
    top: 8px;
    -webkit-animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////      VERIFY GOODREADS          ////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.verifysuccess:disabled, .verifysuccess[disabled] {
    background-color: #2ecc71;
    color: white;
}


/* //////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////      BACKGROUND VIDEO     ////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */

.homepage-hero-module {
    z-index: -1;
    border-right: none;
    border-left: none;
    position: relative;
    /* filter: sepia(1); */
    overflow: hidden;

  }

  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #000;
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }

  /* ///////////////////////////////////////////////////////////////////////// */
  /* ///////////////////        REUSABLE                   /////////////////// */
  /* ///////////////////////////////////////////////////////////////////////// */

.pink { color: #fc5185; }
.blue { color: #3fc1c9; }

#bluebackground {
    position: relative;
    background-color: #3fc1c9;
    margin-left: 70px;
}

.inline { display: inline-block; }

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////        MOBILE FRIENDLY            /////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 560px) and (max-width: 1050px){
    body {overflow-y:auto;}
    .header { flex-wrap: wrap; }
    .login-container {
        position: absolute;
        top: 70vh;
        left: 10vw;
        width: 400px;
    }

    .welcome-box {
        width: 400px;
        position: absolute;
        background-color: #f5f5f5;
        top: 120px;
        left: 10vw;
        padding: 32px 32px 24px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.32) 0px 16px 40px
    }

}

@media only screen and (max-width: 600px) {

}
